<html lang="en">
<head>
      <title></title>
      <style>
            .navbar a{
                  font-size: 20px;
                  text-decoration: none;
                  justify-content: space-between;
                  padding-top: 30px;
                  padding-left: 50px;
                  display: inline-flex;
                  font-size: 30px;
                  
            }

            .navbar a:hover{
                  color: tomato;
            }
            .nav{
                  display:flex;
                  background: rgb(244, 247, 241);
                  

            }
            .nav h1{
                  color: tomato;
                  padding-left: 50px;
                  padding-right: 50px;
                  font-size: 40px;
                  
            }
    </style>
</head>
<body>
      

     <div class="nav">

           <h1>Shiv Pratap Singh's Blogs</h1>

           <div class="navbar">            
                   <a href="/">Home</a>
                   <a href="/about">About</a>
                   <a href="/service">Service</a>
                   <a href="/contact">Contact</a>
                   <a href="/signup">Sign-Up</a>
           </div>

     </div>
      
</body>
</html>