<html lang="en">
<head>
      <title>profile</title>
      
</head>
<body>
      <%- include('common/nav') -%> 
      <h1 class="main-1"> Welcome to the Blog</h1>
      <h2 class="main-2">This is Shiv Pratap Singh's Blogspot</h2>

      <img class="bg-img" src="/blur.jpg" alt="">

      <%- include('common/footer') -%> 
      
      
</body>
</html>