<html lang="en">
<head>
      <title>About</title>
</head>
<body>
      <%- include('common/nav') -%>


      <h1>About Our Blog</h1>
      <Br><Br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi deleniti quam itaque, necessitatibus exercitationem expedita, consequatur neque enim quidem aspernatur dolor laborum officiis ab. Expedita veniam delectus obcaecati illum laborum, animi aspernatur aut? Laudantium officiis blanditiis eaque natus. Cum, aliquid debitis. Exercitationem, vel quas. Aperiam aut mollitia iste minus fugiat, rerum odio culpa aliquam delectus optio ea laborum nulla molestiae, praesentium animi neque aliquid iusto doloremque illo? Voluptates deserunt voluptatibus error numquam reprehenderit aliquam, sit minima atque accusantium quasi incidunt? Eaque quidem accusantium maiores, veritatis sit numquam quia exercitationem eum quas sint deleniti ducimus ut distinctio, qui molestias, maxime officia animi doloremque! Dolor et at, alias, sunt praesentium accusamus ducimus corporis ipsa incidunt necessitatibus provident obcaecati optio odio! Iusto neque similique obcaecati blanditiis perferendis ex sit at maxime, deserunt molestias explicabo vero omnis itaque minima perspiciatis doloribus provident enim facere. Vel inventore dolores ea at laborum est maiores architecto necessitatibus reprehenderit nobis, aliquam, amet dicta atque! Beatae excepturi id rerum earum quis voluptates, dolorem veritatis nostrum est nam non eius distinctio maiores ipsa voluptatum culpa saepe omnis commodi tempore reiciendis! Saepe ipsam obcaecati amet odit esse nihil voluptatem dolore numquam quidem natus facilis, accusamus neque odio deserunt illum iure exercitationem. Atque dolor repellendus quisquam temporibus possimus exercitationem quaerat nostrum ut suscipit harum deserunt labore voluptatem, laboriosam eligendi reiciendis! Nostrum suscipit tempora reiciendis quasi rerum laudantium sit dicta? Quae minus aspernatur officia culpa eveniet distinctio deleniti, voluptatem earum? Maxime eaque aliquam facere, nisi tempora assumenda in, iste repellat magni deleniti possimus laboriosam nemo vero, provident ut rem maiores neque veritatis. Natus, accusantium perspiciatis est minus earum porro dicta perferendis sunt vero ipsa nesciunt blanditiis magnam mollitia beatae magni iste praesentium ratione deserunt harum iure voluptatem commodi? Adipisci natus quo officiis suscipit dolorem harum eos saepe! Officia, id atque! Quas, assumenda earum.</p>


      <%- include('common/footer') -%>
      <style>
            h1{
                  color: rgb(236, 83, 56);
                  font-size: 50px;
                  text-align: center;
            }
            p{
                  font-size: 20px;
                  padding-right: 60px;
                  padding-left: 60px;
            }
      </style>
</body>
</html>