<html lang="en">
<head>
      <title>profile</title>
      
</head>
<body>

      


      <%- include('common/nav') -%> 


      <h1> Welcome to the Blog</h1>
      <h2>This is Shiv Pratap Singh's Blogspot</h2>



      <%- include('common/footer') -%> 
      
      <style>
            h1{
                  color: rgb(247, 91, 63);
                  font-size: 110px;
                  text-align: center;
            }
            h2{
                  color: rgb(240, 115, 93);
                  font-size: 70px;
                  text-align: center;
            }
      </style>
</body>
</html>